#landing-page {
  width:100%;
  display: flex;
  margin: auto;
  background-image: url("images/bliss_header.jpg");
 /* Set the background image to no repeat */
  background-repeat; no-repeat;
  background-position: 100%;
  background-attachment; scroll;
 /* Scale the background image to be as large as possible */
  content: center;*/
}

  .circular_button{
    width: 600px;
    height: auto;
    border-radius: 150px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;
    display: flex;;
    margin-left: auto;
    margin-right: auto;
    }
body {
  color: black;
  font-family: helvetica;
}
h1 {
  font-size: 3em;
}
#content {
  width: 1000px;
  margin: px auto;
  text-align: center;
}
.choice {
  position: relative;
  float: left;
  max-width: 200px;

}
.row {
  max-height: 600px;
  display: flex;
  justify-content: space-around;
}
.feelingImage {
  width: 400px;
}
#background-image{

}
/*#button {
  background-image: url("../images/Chilly_button.png");
  width: 300px;
  height: 300px;
}*/
